<div class="px-lg-0 mt-0 mb-2" *ngIf="subscriptionData">
  <div class="">
    <div class="">
      <div class="card " style="height: 287px;">
        <div class="card-body ">
          <div
            class="nav nav-tabs float-right custom-nav"
            id="nav-tab"
            role="tablist"
          >
            <div
              class="active action-edit float-right org-profile-box-cancel"
              id="home-tab"
              data-toggle="tab"
              href="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              (click)="lockEditButton()"
            >
              <!-- <button class="btn btn-sm btn-danger"> -->
              <i class="far fa-times-circle"></i>
              <!-- </button> -->
            </div>
            <div
              class="action-home float-right"
              id="nav-profile-tab"
              data-toggle="tab"
              href="#nav-profile"
              role="tab"
              aria-controls="nav-profile"
              aria-selected="false"
              (click)="lockCancelButton()"
            >
              <button type="button" class="btn btn-light btn-sm custom-nav-btn">
                <i class="far fa-edit mr-2"></i>Edit
              </button>
            </div>
          </div>
          <div class="box">
                <div class="tab-content" id="myTabContent">
                  <div
                    class="tab-pane fade show active"
                    id="home"
                    role="tabpanel"
                    aria-labelledby="home-tab"
                  >
                    <div class="row">
                      <div class="col-md-12 col-lg-5 align-middle">
                        <img
                          class="org-profile-box-image m-lg-4"
                          src="../../../assets/image/imgs/logo.png"
                        />
                      </div>
                      <div class="col-md-12 col-lg-7 pt-lg-2">
                        <div class="text-center">
                          <div class=" px-2">
                            <!-- new -->
                            <div class="text-left pt-3">
                              <p class="font-weight-bold">
                                {{ subscriptionData.companyName }}
                              </p>
                              <i
                                class="fas fa-envelope-open-text text-muted"
                              ></i
                              ><small class="text-muted ml-3">{{
                                subscriptionData.email
                              }}</small
                              >
                              <hr />
                              <i class="fas fa-phone-volume text-muted"></i>
                              <small class="text-muted ml-3">
                                {{
                                  format_phone_no(subscriptionData.phoneNo)
                                }}</small
                              ><br />
                            </div>
                            <!-- new  -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade org-data-edit px-2"
                    id="nav-profile"
                    role="tabpanel"
                    aria-labelledby="nav-profile-tab"
                  >
                    <form
                      [formGroup]="orgForm"
                      (ngSubmit)="onSubmit()"
                      class="px-lg-3"
                    >
                      <!-- <div class="form-row">
                        <div class="col-6"> -->
                      <div class="form-group">
                        <label for="">Organization name</label>
                        <input
                          type="text"
                          class="form-control"
                          aria-label="Sizing example input"
                          aria-describedby="inputGroup-sizing-default"
                          [ngClass]="{
                            'is-invalid': f.subscriberOrgName.errors
                          }"
                          formControlName="subscriberOrgName"
                        />
                        <div
                          *ngIf="f.subscriberOrgName.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.subscriberOrgName.errors.required">
                            Organization is required
                          </div>
                        </div>
                      </div>
                      <!-- </div>
                        <div class="col-6"> -->
                      <div class="form-group">
                        <label for="">Email</label>
                        <input
                          type="email"
                          class="form-control"
                          aria-label="Sizing example input"
                          aria-describedby="inputGroup-sizing-default"
                          [ngClass]="{
                            'is-invalid': f.subscriberEmail.errors
                          }"
                          formControlName="subscriberEmail"
                          style="text-transform: lowercase"
                        />
                        <div
                          *ngIf="f.subscriberEmail.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.subscriberEmail.errors.required">
                            Email address is required
                          </div>
                          <div *ngIf="f.subscriberEmail.errors.email">
                            Invalid Email
                          </div>
                        </div>
                      </div>
                      <!-- </div>
                      </div> -->

                      <div class="form-row">
                        <div class="col-3">
                          <div class="form-group mb-0">
                            <label for=""></label>
                            <select
                              class="custom-select"
                              id="inputGroupSelect02"
                              (change)="changeCountry($event)"
                              [ngClass]="{
                                'is-invalid': f.subscriberCtc.errors
                              }"
                              formControlName="subscriberCtc"
                            >
                              <ng-container
                                *ngFor="let country of Cd; let i = index"
                              >
                                <option [value]="country.Iso2">
                                  <div>
                                    {{ country.Iso2 }} ({{ country.Dial }})
                                  </div>
                                </option>
                              </ng-container>
                            </select>
                            <div
                              *ngIf="f.subscriberCtc.errors"
                              class="invalid-feedback"
                            >
                              <div *ngIf="f.subscriberCtc.errors.required">
                                Counrty is required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-9 pt-2">
                          <div class="form-group mb-0">
                            <input
                              type="text"
                              class="form-control"
                              placeholder="phone no.."
                              [ngClass]="{
                                'is-invalid': f.subscriberPhone.errors
                              }"
                              formControlName="subscriberPhone"
                            />

                            <div
                              *ngIf="f.subscriberPhone.errors"
                              class="invalid-feedback"
                            >
                              <div *ngIf="f.subscriberPhone.errors.required">
                                Phone number is required
                              </div>
                              <div *ngIf="f.subscriberPhone.errors.pattern">
                                Invalid phone no
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-flex flex-row justify-content-end align-items-start"
                      >
                        <button
                          class="btn btn-sm btn-primary float-right custom_btn"
                          type="submit"
                          [disabled]="this.orgForm.invalid"
                        >
                          Update Details
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div
    class="d-flex justify-content-center text-primary align-items-center mb-2"
  >
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
</ng-template>
<!-- main container -->
