<div [ngStyle]="{'height': '100vh',  'scrollbar-width': 'none'}">
<div class="row">
  <div class="col-12">
    <div class="card-header bg-primary">
      <div class="row">
        <div class="col-3">
          <img
            src="../../assets/image/imgs/logo.png"
            alt="occurens logo"
            style="height: 35px"
          />
        </div>
        <div class="col-9">
          <div class="d-flex justify-content-end text-white">
            <a class="btn btn-sm  mr-2 p-0" routerLink="/">
                <button class="btn btn-sm btn-outline-light"><i class="fas fa-home"></i></button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pb-3" [ngStyle]="{'height': 'calc(100% - 40px)', 'overflow-y': 'auto', 'scrollbar-width': 'none'}">
  <div class="row m-2">
    <div class="col-12 col-md-8 col-lg-5 mt-xs-2 mt-sm-2 mt-md-0 mt-lg-0 p-1"
    [ngStyle]="{'box-shadow': '3px 3px 5px 2px #9e9e9ea8'}"
    >
      <div class="card border-0">
        <div class="card-header bg-white">
          <div class="row">
            <div class="col-6">
              <h4 class="justify-content-start"><i class="fas fa-user-plus text-left"></i> Register</h4>
            </div>
            <div class="col-6 url-toggle-switch text-end">
              <label class="switch">
                <input
                  type="checkbox"
                  [checked]="navigatePage === navigateArray[0]"
                  (change)="changeNavigate()"
                />
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form
            [formGroup]="registerForm"
            (ngSubmit)="onSubmit()"
            class="pt-3"
          >
          <div class="row">
            <div class="col-2 order-2 order-md-1">
            </div>
            <div class="col-10 order-1 order-md-2">
              <div class="row">
                <small>
                <div class="col-12">
                  <div class="row">
                    <div class="col-1">
                      <i class="fas fa-qrcode"></i>
                    </div>
                    <div class="col-9 text-left">
                      Subscription ID
                      <span
                        data-title="Please enter the unique code for the organization,get in touch with your admin if you do not know the code"
                        [ngStyle]="{'z-index': '3'}"
                        ><i class="fas fa-info-circle ml-2 text-info" title=""></i
                      ></span>
                    </div>
                    <div class="col-12">
                      <!-- <div class="form-group">
                        <input type="text" class="form-control text-primary" placeholder="Note for leave request *"  [(ngModel)]="pageObj.apllyingLeave.reason" name="apply reason">
                      </div> -->
                      <input
                        id="subscriptionid"
                        type="text"
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default"
                        [ngClass]="{
                          'is-invalid': submitted && f.subscriptionID.errors
                        }"
                        formControlName="subscriptionID"
                        style="text-transform: uppercase"
                        (keyup)="checkSID($event)"
                      />

                      <div
                        *ngIf="submitted && f.subscriptionID.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.subscriptionID.errors.required">
                          Subscription ID is required
                        </div>
                        <div *ngIf="f.subscriptionID.errors.pattern">
                          Invalid Pattern
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-2">
                <div class="row">
                  <div class="col-1">
                    <i class="fas fa-user"></i>
                  </div>
                  <div class="col-9 text-left">
                    Your Name
                  </div>
                  <div class="col-12">
                    <!-- <div class="form-group">
                      <input type="text" class="form-control text-primary" placeholder="Note for leave request *"  [(ngModel)]="pageObj.apllyingLeave.reason" name="apply reason">
                    </div> -->
                    <input
                      id="name"
                      type="text"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      [ngClass]="{
                        'is-invalid': submitted && f.subscriberName.errors
                      }"
                      formControlName="subscriberName"
                      style="text-transform: capitalize"
                    />
                    <div
                      *ngIf="submitted && f.subscriberName.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.subscriberName.errors.required">
                        Name is required
                      </div>
                      <div *ngIf="f.subscriberName.errors.minlength">
                        Invalid Name Please Enter Full Name (min 5 character)
                      </div>
                      <div *ngIf="f.subscriberName.errors.maxlength">
                        Invalid Name Please Enter Full Name (max 20 character)
                      </div>
                      <div *ngIf="f.subscriberName.errors.pattern">
                        Invalid Name Please Enter Full Name
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-2">
                <div class="row">
                  <div class="col-1">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="col-9 text-left">
                    Email Address
                  </div>
                  <div class="col-12">
                    <!-- <div class="form-group">
                      <input type="text" class="form-control text-primary" placeholder="Note for leave request *"  [(ngModel)]="pageObj.apllyingLeave.reason" name="apply reason">
                    </div> -->
                    <input
                      id="email"
                      type="text"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      [ngClass]="{
                        'is-invalid': submitted && f.subscriberEmail.errors
                      }"
                      formControlName="subscriberEmail"
                      style="text-transform: lowercase"
                    />
                    <div
                      *ngIf="submitted && f.subscriberEmail.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.subscriberEmail.errors.required">
                        Email address is required
                      </div>
                      <div *ngIf="f.subscriberEmail.errors.email">
                        Invalid Email
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-2">
                <div class="row">
                  <div class="col-1">
                    <i class="fas fa-phone-alt"></i>
                  </div>
                  <div class="col-9 text-left">
                    Contact Number
                  </div>
                  <div class="col-12">
                    <!-- <div class="form-group">
                      <input type="text" class="form-control text-primary" placeholder="Note for leave request *"  [(ngModel)]="pageObj.apllyingLeave.reason" name="apply reason">
                    </div> -->
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group mb-2">
                          <label for="phone"></label>
                          <select
                            class="custom-select"
                            id="inputGroupSelect01"
                            (change)="changeCountry($event)"
                            [ngClass]="{
                              'is-invalid': submitted && f.subscriberCtc.errors
                            }"
                            formControlName="subscriberCtc"
                          >
                            <option value="null" disabled selected>Country</option>
                            <ng-container *ngFor="let country of Cd; let i = index">
                              <option [value]="country.Iso2">
                                <div>+{{ country.Dial }}({{ country.Iso2 }})</div>
                              </option>
                            </ng-container>
                          </select>
                          <div
                            *ngIf="submitted && f.subscriberCtc.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.subscriberCtc.errors.required">
                              Country is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-8 pt-1">
                        <div class="form-group mb-1">
                          <input
                            id="phone"
                            type="text"
                            class="form-control"
                            placeholder="Phone number"
                            [ngClass]="{
                              'is-invalid': submitted && f.subscriberPhone.errors
                            }"
                            formControlName="subscriberPhone"
                          />

                          <div
                            *ngIf="submitted && f.subscriberPhone.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.subscriberPhone.errors.required">
                              Phone number is required
                            </div>
                            <div *ngIf="f.subscriberPhone.errors.pattern">
                              Invalid phone no
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-2">
                <div class="row">
                  <div class="col-1">
                    <i class="fas fa-lock"></i>
                  </div>
                  <div class="col-8 text-left">
                    Password
                  </div>
                  <div class="col-1" (click)="passShow()">
                    <i [class]="passshow ? 'fas fa-eye btn btn-sm' : 'fa fa-eye-slash btn btn-sm'"></i>
                  </div>
                  <div class="col-12">
                    <!-- <div class="form-group">
                      <input type="text" class="form-control text-primary" placeholder="Note for leave request *"  [(ngModel)]="pageObj.apllyingLeave.reason" name="apply reason">
                    </div> -->
                    <input
                      id="password"
                      [type]="passshow ? 'text' : 'password'"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      [ngClass]="{
                        'is-invalid':
                          (submitted || f.password.value !== '') &&
                          f.password.errors
                      }"
                      formControlName="password"
                      (keyup)="paswStrength($event)"
                    />
                    <div
                      *ngIf="
                        (submitted || f.password.value !== '') &&
                        f.password.errors
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.password.errors.required">
                        Password is required
                      </div>
                      <div *ngIf="f.password.errors.pattern">
                        Password must be at least 8 characters containing
                        symbol,number,capital & small letter
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-2">
                <div class="row">
                  <div class="col-1">
                    <i class="fas fa-lock"></i>
                  </div>
                  <div class="col-8 text-left">
                    Confirm Password
                  </div>
                  <div class="col-1" (click)="passShowT()">
                    <i [class]="passshowT ? 'fas fa-eye btn btn-sm' : 'fa fa-eye-slash btn btn-sm'"></i>
                  </div>
                  <div class="col-12">
                    <!-- <div class="form-group">
                      <input type="text" class="form-control text-primary" placeholder="Note for leave request *"  [(ngModel)]="pageObj.apllyingLeave.reason" name="apply reason">
                    </div> -->
                    <input
                      id="confpass"
                      [type]="passshowT ? 'text' : 'password'"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      [ngClass]="{
                        'is-invalid':
                          (submitted || f.confirmPassword.value !== '') &&
                          f.confirmPassword.errors
                      }"
                      formControlName="confirmPassword"
                      (keyup)="
                        checkPass(f.password.value, f.confirmPassword.value)
                      "
                    />
                    <div
                      *ngIf="
                        (submitted || f.confirmPassword.value !== '') &&
                        f.confirmPassword.errors
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.confirmPassword.errors.required">
                        Confirm Password is required
                      </div>
                      <div *ngIf="f.confirmPassword.errors.validatePass">
                        Confirm Password Not Matched
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-12 mt-2 mb-2"
              >
                <div>
                  Already have an account?
                  <a routerLink="/login" class="text-primary">
                        Login</a>

                </div>
                <div></div>
              </div>
              <div
                class="col-12 mt-2"
              >
                <button
                  class="btn btn-sm btn-primary btn-lg btn-block"
                  type="submit"
                  [disabled]="registerForm.invalid"
                >
                  REGISTER
                </button>
              </div>

            </small>
            </div>
          </div>


        </div>




      </form>
        <!-- <h2 class="justify-content-start"><i class="fas fa-users-cog text-left"></i></h2>
        <div class="text-right">
          <h2>Manage Organisation</h2>
          <small>
            <p>Define and manage regions</p>
            <p>Assign leave and expense admins</p>
            <p>Create your team</p>
            <p>Access control for the members</p>
          </small>
        </div> -->
      </div>
    </div>
  </div>
  <div class="bluebg col-12 col-md-4 col-lg-7 rounded-right" [ngStyle]="{'opacity': '0.7'}">
    <div class="card bluebg border-0">
      <div class="card-body text-white">
        <h2 class="justify-content-start"><i class="fas fa-user-shield text-left"></i></h2>
        <div class="text-right">
          <h2>HRMS supports your needs</h2>
          <small>
            <p class="text-left">
              It's perfectly aligned for your needs.
              HRMS helps you to record leaves, expenses, attendance in a single app.
              Easy to use work flows with all required summaries and statistics for
              you to review. Timelines to check series of events for the work flow.
            </p>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- <div class="body-register">
  <div class="containerr px-3 pb-5">
    <div class="row">
      <div class="col-12 formSection">
        <div class="d-flex justify-content-between align-item-center px-4 pt-4">
          <img
            src="../../../assets/image/imgs/logo.png"
            alt="occurens"
            id="occurens-logo"
          />
          <ul class="d-flex justify-content-end mt-3">
            <li class="mr-2">
              <a class="" routerLink="/">
                <button type="button" class="btn btn-home btn-sm">
                  <i class="fas fa-home mr-1"></i>
                  <span class="d-none d-lg-block">Go to home</span>
                </button>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card-box mt-0 ml-lg-3">
          <div class="card-body-box px-3">
            <div class="d-flex justify-content-between">
              <div>
                <h5 class="card-title">Register</h5>
                <div class="straight-line"></div>
              </div>
              <div class="url-toggle-switch">
                <label class="switch">
                  <input
                    type="checkbox"
                    [checked]="navigatePage === navigateArray[0]"
                    (change)="changeNavigate()"
                  />
                  <span class="slider"></span>
                </label>
              </div>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group mb-3">
                <label for="subscriptionid"
                  ><img
                    src="../../../assets/image/imgs/sub.svg"
                    alt="org icon"
                    style="transform: scale(1.2)"
                  />
                  Subscription Id
                  <span
                    data-title="Please enter the unique code for the organization,get in touch with your admin if you do not know the code"
                    ><i class="fas fa-info-circle ml-2"></i
                  ></span>
                </label>
                <input
                  id="subscriptionid"
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                  [ngClass]="{
                    'is-invalid': submitted && f.subscriptionID.errors
                  }"
                  formControlName="subscriptionID"
                  style="text-transform: uppercase"
                  (keyup)="checkSID($event)"
                />

                <div
                  *ngIf="submitted && f.subscriptionID.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.subscriptionID.errors.required">
                    Subscription ID is required
                  </div>
                  <div *ngIf="f.subscriptionID.errors.pattern">
                    Invalid Pattern
                  </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="name"
                  ><img
                    src="../../../assets/image/imgs/user.png"
                    alt="user icon"
                  />Your name</label
                >
                <input
                  id="name"
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                  [ngClass]="{
                    'is-invalid': submitted && f.subscriberName.errors
                  }"
                  formControlName="subscriberName"
                  style="text-transform: capitalize"
                />
                <div
                  *ngIf="submitted && f.subscriberName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.subscriberName.errors.required">
                    Name is required
                  </div>
                  <div *ngIf="f.subscriberName.errors.minlength">
                    Invalid Name Please Enter Full Name (min 5 character)
                  </div>
                  <div *ngIf="f.subscriberName.errors.maxlength">
                    Invalid Name Please Enter Full Name (max 20 character)
                  </div>
                  <div *ngIf="f.subscriberName.errors.pattern">
                    Invalid Name Please Enter Full Name
                  </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="email"
                  ><img
                    src="../../../assets/image/imgs/msg.png"
                    alt="email icon"
                  />Email address</label
                >
                <input
                  id="email"
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                  [ngClass]="{
                    'is-invalid': submitted && f.subscriberEmail.errors
                  }"
                  formControlName="subscriberEmail"
                  style="text-transform: lowercase"
                />
                <div
                  *ngIf="submitted && f.subscriberEmail.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.subscriberEmail.errors.required">
                    Email address is required
                  </div>
                  <div *ngIf="f.subscriberEmail.errors.email">
                    Invalid Email
                  </div>
                </div>
              </div>
              <label for=""
                ><img
                  src="../../../assets/image/imgs/call.png"
                  alt="phone icon"
                />Contact number</label
              >
              <div class="form-row">
                <div class="col-3">
                  <div class="form-group mb-2">
                    <label for="phone"></label>
                    <select
                      class="custom-select"
                      id="inputGroupSelect01"
                      (change)="changeCountry($event)"
                      [ngClass]="{
                        'is-invalid': submitted && f.subscriberCtc.errors
                      }"
                      formControlName="subscriberCtc"
                    >
                      <option value="null" disabled selected>Country</option>
                      <ng-container *ngFor="let country of Cd; let i = index">
                        <option [value]="country.Iso2">
                          <div>+{{ country.Dial }}({{ country.Iso2 }})</div>
                        </option>
                      </ng-container>
                    </select>
                    <div
                      *ngIf="submitted && f.subscriberCtc.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.subscriberCtc.errors.required">
                        Country is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-9 pt-1">
                  <div class="form-group mb-1">
                    <input
                      id="phone"
                      type="text"
                      class="form-control"
                      placeholder="Phone number"
                      [ngClass]="{
                        'is-invalid': submitted && f.subscriberPhone.errors
                      }"
                      formControlName="subscriberPhone"
                    />

                    <div
                      *ngIf="submitted && f.subscriberPhone.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.subscriberPhone.errors.required">
                        Phone number is required
                      </div>
                      <div *ngIf="f.subscriberPhone.errors.pattern">
                        Invalid phone no
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12">
                  <div class="form-group mb-3">
                    <label for="password"
                      ><img
                        src="../../../assets/image/imgs/password.png"
                        alt="password icon"
                      />Password</label
                    >
                    <input
                      id="password"
                      [type]="passshow ? 'text' : 'password'"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      [ngClass]="{
                        'is-invalid':
                          (submitted || f.password.value !== '') &&
                          f.password.errors
                      }"
                      formControlName="password"
                      (keyup)="paswStrength($event)"
                    />
                    <div
                      *ngIf="
                        (submitted || f.password.value !== '') &&
                        f.password.errors
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.password.errors.required">
                        Password is required
                      </div>
                      <div *ngIf="f.password.errors.pattern">
                        Password must be at least 8 characters containing
                        symbol,number,capital & small letter
                      </div>
                    </div>
                  </div>

                  <div class="passwordStrength">
                    <span
                      [ngStyle]="
                        passwordStrength > 0
                          ? {
                              background:
                                'linear-gradient(to right, #ed3746, #bc3af0)'
                            }
                          : { 'background-color': '#ffffff' }
                      "
                    ></span>
                    <span
                      [ngStyle]="
                        passwordStrength > 20
                          ? {
                              background:
                                'linear-gradient(to right, #bc3af0, #2d6ceb)'
                            }
                          : { 'background-color': '#ffffff' }
                      "
                    ></span>
                    <span
                      [ngStyle]="
                        passwordStrength > 40
                          ? {
                              background:
                                'linear-gradient(to right, #2d6ceb, #3d6ceb)'
                            }
                          : { 'background-color': '#ffffff' }
                      "
                    ></span>
                    <span
                      [ngStyle]="
                        passwordStrength > 60
                          ? {
                              background:
                                'linear-gradient(to right, #3d6ceb, #4fe397)'
                            }
                          : { 'background-color': '#ffffff' }
                      "
                    ></span>
                    <span
                      [ngStyle]="
                        passwordStrength > 80
                          ? {
                              background:
                                'linear-gradient(to right, #4fe397, #aee34b)'
                            }
                          : { 'background-color': '#ffffff' }
                      "
                    ></span>
                  </div>
                </div>
                <div
                  class="hideAndShow"
                  style="cursor: pointer"
                  (click)="passShow()"
                >
                  <span class="mt-0">
                    <i
                      class="fas"
                      [ngClass]="{
                        'fa-eye-slash': !passshow,
                        'fa-eye': passshow
                      }"
                    ></i>
                  </span>
                </div>
              </div>
              <div class="form-row mt-1">
                <div class="col-12">
                  <div class="form-group mb-1">
                    <label for="confpass"
                      ><img
                        src="../../../assets/image/imgs/password.png"
                        alt="password icon"
                      />Confirm Password</label
                    >
                    <input
                      id="confpass"
                      [type]="passshowT ? 'text' : 'password'"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      [ngClass]="{
                        'is-invalid':
                          (submitted || f.confirmPassword.value !== '') &&
                          f.confirmPassword.errors
                      }"
                      formControlName="confirmPassword"
                      (keyup)="
                        checkPass(f.password.value, f.confirmPassword.value)
                      "
                    />
                    <div
                      *ngIf="
                        (submitted || f.confirmPassword.value !== '') &&
                        f.confirmPassword.errors
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.confirmPassword.errors.required">
                        Confirm Password is required
                      </div>
                      <div *ngIf="f.confirmPassword.errors.validatePass">
                        Confirm Password Not Matched
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="hideAndShow"
                  style="cursor: pointer"
                  (click)="passShowT()"
                >
                  <span class="mt-0">
                    <i
                      class="fas"
                      [ngClass]="{
                        'fa-eye-slash': !passshowT,
                        'fa-eye': passshowT
                      }"
                    ></i>
                  </span>
                </div>
              </div>
              <div class="row mt-2">
                <div
                  class="col-sm-12 col-md-12 col-lg-8 order-sm-12 order-md-12 order-lg-1 mb-1"
                >
                  <div class="">
                    <span class=""
                      >Already have an account?
                      <strong
                        ><a routerLink="/login" class="text-primary">
                          Login</a
                        ></strong
                      ></span
                    >
                  </div>
                </div>
                <div
                  class="col-sm-12 col-md-12 col-lg-4 order-sm-1 order-md-1 order-lg-12"
                >
                  <button
                    class="btn btn-sm btn-primary custom_log_reg_btn"
                    type="submit"
                  >
                    REGISTER
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>
<!------------------------   model open  ------------------------>
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModal"
  #content
  hidden
>
  Launch demo modal
</button>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="exampleModalLabel"><i class="fas fa-user-shield pr-1"></i>Verify account</h5>
      </div>
      <div class="modal-body">



        <div class="card border-0">
          <!-- <div class="card-header bg-white">
            <h5 class="justify-content-start text-truncate"><i class="fas fa-lock text-left"></i> Recover password</h5>
          </div> -->
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <p class="text-left">
                  It seems the email id is already registered with us.
                  Please validate the existing account to proceed.
                </p>
              </div>
              <div class="col-12">
                <div class="row">

                  <div class="col-12 mt-2">
                    <div class="row">
                      <div class="col-1">
                        <i class="fas fa-lock"></i>
                      </div>
                      <div class="col-9 col-lg-11 text-left">
                        Password
                      </div>
                      <div class="col-12">
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Re-enter password"
                          aria-label="Sizing example input"
                          aria-describedby="inputGroup-sizing-default"
                          [(ngModel)]="repassword"
                          required
                        />
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>







        <!-- <p class="text-left">
          It seems the email id is registered with us.
          please validate to proceed
        </p>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span
              class="input-group-text font-weight-bold reenter_pass_modal_title"
              id="inputGroup-sizing-default"
              ><img
                src="../../../assets/image/imgs/password.png"
                alt="password icon"
            /></span>
          </div>
          <input
            type="password"
            class="form-control"
            placeholder="Re-enter password"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            [(ngModel)]="repassword"
            required
          />
        </div> -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          data-dismiss="modal"
          (click)="onSignIn()"
          [disabled]="repassword == ''"
        >
          VERIFY
        </button>
      </div>
    </div>
  </div>
</div>
<!------------------------   model open  ------------------------>
