#occurens-logo {
  // height: 100px;
  // width: auto;
}
.custom-select{
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1.5px solid #989898 !important;
  font-size: inherit;
}
.form-control {
  font-size: inherit;
}
