<!-- navbar -->
<div class="d-flex justify-content-between px-5 pt-4">
  <img
    src="../../assets/image/imgs/logo.png"
    alt="occurens logo"
    style="height: 60px"
  />
  <ul class="d-flex justify-content-around">
    <li class="mr-2">
      <a class="" routerLink="/subscribe">
        <button type="button" class="btn btn-warning btn-sm">
          Get Started
        </button>
      </a>
    </li>
    <li class="mr-2">
      <a class="" routerLink="/login">
        <button type="button" class="btn btn-outline-dark btn-sm">
          Sign In
        </button>
      </a>
    </li>
  </ul>
</div>
<hr />
<!-- navbar -->
