@import "../../../../assets/scss/variables.scss";
.member-list-col .custom-selecttt {
  margin-top: 0px !important;
}
.menu-image {
  height: 18px;
  cursor: pointer;
}
.user-card-actions {
  .bg-light {
    background-color: #ffffff !important;
    background: #ffffff !important;
  }
  .dropdown-toggle::after {
    display: none;
  }
}
.register-member-card {
  border: 0px !important;
  .register-member-card-header,
  .register-member-card-header-new {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: navy !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: $color-white !important;
  }
  .register-member-card-header-new {
    background-color: rgb(214, 214, 214) !important;
    color: $color-black !important;
    font-size: 16px;
    padding: 0.87rem;
  }
  label {
    img {
      height: 15px;
      margin-right: 10px;
    }
  }
}
.risk-state-button-single {
  label {
    span {
      font-size: 10px;
    }
  }
}
.licens-data-sub {
  font-size: 15px;
}
@media only screen and (max-width: 920px) {
  .card-body-plan-bg-img p {
    font-size: 10px;
  }
  .card-body-pay-btn {
    padding: 8px 11px;
    font-size: 10px !important;
  }
  .sideNav-sec-name {
    font-size: 9px;
  }
}
.btn_color_amber {
  background-image: $color-peach-bg !important;
}
.card-header {
  font-size: 18px;
}
