<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/panel/dashboard"
        ><i class="fab fa-houzz mr-1"></i>Dashboard</a
      >
    </li>
    <li class="breadcrumb-item active-breadcrumb-nav" aria-current="page">
      <i class="fas fa-users mr-1"></i> Member Management
    </li>
  </ol>
</nav>

<!-- main container -->
<div class="col-12 pb-4 pt-2">
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-8 p-1">
      <app-subscription #subscriptionContent></app-subscription>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-4 mb-3">
      <div class="p-1">
        <div class="row">
          <div
            *ngIf="subscriptiondata"
            class="col-6 p-1 mb-1 bg-light border-left border-warning"
          >
            <span class="p-1">
              <i class="fas fa-dot-circle text-warning"></i>
              <b class="px-1">{{ subscriptiondata.noOfFreeLicense }}</b>
              Available
            </span>
          </div>
          <div
            *ngIf="subscriptiondata"
            class="col-6 p-1 mb-1 bg-light border-left border-warning"
          >
            <span class="p-1">
              <i class="fas fa-dot-circle text-warning"></i>
              <b class="px-1">{{
                subscriptiondata.noOfUserAllowed -
                  subscriptiondata.noOfFreeLicense
              }}</b>
              In-use
            </span>
          </div>
          <div class="col-12 bg-primary">
            <div class="">
              <div class="row">
                <div class="col-8 text-uppercase text-white p-2">
                  <p>
                    <small
                      >{{
                        subscriptiondata?.subscriptionType === "FREE"
                          ? "Duration for 15 days"
                          : "Valid till "
                      }}<b>{{
                        subscriptiondata?.subscriptionType === "FREE"
                          ? ""
                          : (subscriptiondata?.subscriptionEnd.toDate()
                            | date: "dd MMM, yyyy")
                      }}</b></small
                    >
                  </p>
                </div>
                <div class="col-4 p-1 text-white">
                  <p>
                    <small
                      ><i class="fas fa-circle pr-1 text-warning"></i>
                      USD
                      {{
                        subPlanData?.price *
                          (subscriptiondata?.noOfUserAllowed -
                            subscriptiondata?.noOfFreeLicense)
                      }}</small
                    >
                  </p>
                </div>
                <div class="col-12 pb-2 text-white">
                  <div class="">
                    <h5 class="p-1 text-uppercase font-weight-bold">
                      {{ subscriptiondata?.subscriptionType }}
                    </h5>
                    <div class="row">
                      <div class="col-6">
                        <span class="sideNav-sec-name text-white"
                          >Subscription start</span
                        >
                      </div>
                      <div class="col-6">
                        <span class="sideNav-sec-name font-weight-bold">{{
                          subscriptiondata?.subscriptionStart.toDate()
                            | date: "dd MMM, yyyy"
                        }}</span>
                      </div>
                    </div>

                    <div class="row">
                      <div
                        class="col-7 rounded-right"
                        style="background: rgba(255, 255, 255, 0.5)"
                      >
                        <span
                          class="text-danger"
                          [ngClass]="
                            subscriptiondata.subscriptionType !== 'FREE' &&
                            currPlanActiveOrNot === false
                              ? ''
                              : 'd-none'
                          "
                          style="font-size: 9px"
                          >Re-activate subscription
                        </span>
                        <button
                          class="btn btn-waring btn-sm custom_btn design_btn ml-0 btn_color_amber text-white"
                          [ngClass]="
                            subscriptiondata?.subscriptionType !== 'FREE' &&
                            currPlanActiveOrNot === true
                              ? ''
                              : 'd-none'
                          "
                          (click)="
                            getSubcriptionDetailsCancel(
                              subscriptiondata?.paypalId
                            )
                          "
                        >
                          Cancel subscription
                        </button>
                      </div>
                      <div class="col-5">
                        <button
                          type="button"
                          class="btn btn-sm btn-primary"
                          (click)="changePlan()"
                        >
                          <small
                            >{{
                              subscriptiondata.subscriptionType !== "FREE" &&
                              currPlanActiveOrNot === false
                                ? "Activate"
                                : "Change"
                            }}<i class="fas fa-arrow-right ml-1"></i
                          ></small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-lg-8 order-md-1 order-2 col-12 col-sm-12">
      <div class="p-1">
        <div class="row p-1 bg-primary text-white">
          <div class="col-6 col-md-6 col-lg-8 col-xl-8 p-2">
            <h5>All members</h5>
          </div>
          <div class="col-1 p-2">
            <i class="fas fa-bullhorn btn btn-primary btn-sm"></i>
          </div>
          <div class="col-2 col-lg-1 col-xl-1 p-2">
            <i
              class="fas fa-search btn btn-primary btn-sm"
              (click)="showSearchInput('inputsearchBox')"
            ></i>
          </div>
          <div class="col-3 col-md-3 col-lg-2 col-xl-2 p-1">
            <div class="btn-group" role="group">
              <button
                id="btnGroupDrop1"
                type="button"
                class="btn btn-light btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{
                  selectedFilter.toLowerCase() === "all"
                    ? "All users"
                    : selectedFilter
                }}
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <div
                  class="dropdown-item"
                  *ngFor="let status of allMemberdata.status; let i = index"
                  (click)="filterMember(status)"
                >
                  {{
                    status.slice(0, 1).toUpperCase() +
                      status.slice(1).toLowerCase()
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-searchBox d-none mb-2" id="inputsearchBox">
          <input
            type="text"
            class="form-control mt-1"
            placeholder="Search by member name"
            [(ngModel)]="typesearch"
            name="typesearch"
            (keyup)="filterMember(selectedFilter)"
          />
        </div>

        <div class="row" *ngFor="let member of allMemberArray">
          <div class="col-12 bg-white border-bottom">
            <div
              class="row card-body"
              style="padding-bottom: 0px; padding-top: 0.5em"
            >
              <div class="col-3 col-lg-2">
                <img
                  class="mx-auto d-block p-1 rounded-circle"
                  style="width: 40px; height: 40px"
                  [src]="
                    member.picUrl !== ''
                      ? member.picUrl
                      : '../../../../../assets/image/imgs/profile.png'
                  "
                  alt="member image"
                  (error)="profileImgErrorHandler(member)"
                />
                <span
                  class="col-12 badge"
                  [ngClass]="
                    member.status == allMemberdata.status[0]
                      ? 'badge-primary'
                      : member.status == allMemberdata.status[1]
                      ? 'badge-warning'
                      : member.status == allMemberdata.status[5]
                      ? 'badge-success'
                      : 'badge-danger'
                  "
                >
                  {{ member.status.toLowerCase() }}
                  <span class="badge badge-light">{{
                    member.role == "ADMIN" ? "A" : ""
                  }}</span>
                </span>
              </div>
              <div class="col-7 col-md-8 col-lg-9">
                <!-- <div class=""> -->
                <h5 class="">
                  <small>{{ member.name }}</small>
                </h5>
                <h6 class="text-muted">
                  <small>{{ member.email }}</small>
                </h6>
                <h6 class="text-muted">
                  <small>{{ format_phone_no(member.phone) }}</small>
                </h6>
                <!-- </div> -->
              </div>
              <div class="col-1">
                <div
                  class="btn-group user-card-actions"
                  role="group"
                  *ngIf="
                    !(member.role === 'ADMIN' && member.uid === getUserData.uid)
                  "
                >
                  <button
                    id="btnGroupDrop1"
                    type="button"
                    class="btn bg-light btn-sm dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <div
                      class="dropdown-item btn"
                      *ngFor="let action of member.actions"
                    >
                      <span
                        (click)="
                          onClickActionFunction(
                            action,
                            member.status,
                            member.uid,
                            member.picUrl,
                            member.email
                          )
                        "
                        >{{ action.text }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <img class="card-img-left" src="..." alt="Card image cap"> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5 col-lg-4 order-sm-1 order-md-2">
      <!------------ register new member --------------->
      <div class="p-1">
        <div class="row">
          <div
            class="card register-member-card"
            *ngIf="allMemberdata.subscriptiondata; else loading"
          >
            <div class="card-header bg-light">
              <h6>Add New User</h6>
            </div>
            <div class="card-body mx-0 new-reg-form">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3 d-none">
                  <label for="">Subscription Id</label>
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    [ngClass]="{
                      'is-invalid': submitted && f.subscriptionID.errors
                    }"
                    formControlName="subscriptionID"
                    readonly
                  />
                </div>
                <label
                  ><img
                    src="../../../../../assets/image/imgs/role.png"
                    alt=""
                    srcset=""
                  />User role</label
                ><br />
                <div class="row px-2">
                  <div class="col-4">
                    <div
                      class="risk-state-button-single mx-1 risk-state-button-single-red-resolve"
                    >
                      <input
                        type="radio"
                        name="radio"
                        id="op35311"
                        name="subscriberRole"
                        value="USER"
                        formControlName="subscriberRole"
                        checked
                      />
                      <label for="op35311"><span>USER</span> </label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div
                      class="risk-state-button-single mx-1 risk-state-button-single-red-resolve"
                    >
                      <input
                        type="radio"
                        name="radio"
                        id="op35312"
                        name="subscriberRole"
                        value="ADMIN"
                        formControlName="subscriberRole"
                      />
                      <label for="op35312"><span>ADMIN</span> </label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div
                      class="risk-state-button-single mx-1 risk-state-button-single-red-resolve"
                    >
                      <input
                        type="radio"
                        name="radio"
                        id="op35313"
                        name="subscriberRole"
                        value="EXTERNAL"
                        formControlName="subscriberRole"
                      />
                      <label for="op35313"><span>EXTERNAL</span> </label>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-2 mt-1">
                  <label for="" class=""
                    ><img
                      src="../../../../../assets/image/imgs/user.png"
                      alt=""
                      srcset=""
                    />Name of the user</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    [ngClass]="
                      f.subscriberName.touched || f.subscriberName.dirty
                        ? f.subscriberName.errors
                          ? 'is-invalid'
                          : 'is-valid'
                        : ''
                    "
                    formControlName="subscriberName"
                    style="text-transform: capitalize"
                  />
                  <div
                    *ngIf="
                      (f.subscriberName.touched || f.subscriberName.dirty) &&
                      f.subscriberName.errors
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.subscriberName.errors.required">
                      Name is required
                    </div>
                    <div *ngIf="f.subscriberName.errors.pattern">
                      Invalid Name Please Enter Full Name
                    </div>
                  </div>
                </div>
                <div class="form-group mb-2 mt-1">
                  <label for="" class=""
                    ><img
                      src="../../../../../assets/image/imgs/msg.png"
                      alt=""
                      srcset=""
                    />Email</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    [ngClass]="
                      f.subscriberEmail.touched || f.subscriberEmail.dirty
                        ? f.subscriberEmail.errors
                          ? 'is-invalid'
                          : 'is-valid'
                        : ''
                    "
                    formControlName="subscriberEmail"
                    style="text-transform: lowercase"
                  />
                  <div
                    *ngIf="
                      (f.subscriberEmail.touched || f.subscriberEmail.dirty) &&
                      f.subscriberEmail.errors
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.subscriberEmail.errors.required">
                      Email address is required
                    </div>
                    <div *ngIf="f.subscriberEmail.errors.pattern">
                      Invalid Email pattern
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3 mt-1">
                  <label for="" class=""
                    ><img
                      src="../../../../../assets/image/imgs/role.png"
                      alt=""
                      srcset=""
                    />Position in the organisation
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    [ngClass]="
                      f.subscriberJobTitle.touched || f.subscriberJobTitle.dirty
                        ? f.subscriberJobTitle.errors
                          ? 'is-invalid'
                          : 'is-valid'
                        : ''
                    "
                    formControlName="subscriberJobTitle"
                  />
                  <div
                    *ngIf="
                      (f.subscriberJobTitle.touched ||
                        f.subscriberJobTitle.dirty) &&
                      f.subscriberJobTitle.errors
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.subscriberJobTitle.errors.required">
                      Users position is required
                    </div>
                  </div>
                </div>
                <label
                  ><img
                    src="../../../../../assets/image/imgs/call.png"
                    alt=""
                    srcset=""
                  />User phone number</label
                >
                <div class="form-row">
                  <div class="col-5">
                    <div class="form-group mb-3">
                      <label for=""></label>
                      <select
                        class="custom-select"
                        id="inputGroupSelect01"
                        (change)="changeCountry($event)"
                        [ngClass]="
                          f.subscriberCtc.touched || f.subscriberCtc.dirty
                            ? f.subscriberCtc.errors
                              ? 'is-invalid'
                              : ''
                            : ''
                        "
                        formControlName="subscriberCtc"
                        required
                      >
                        <option value="null" disabled selected>
                          <div>Country</div>
                        </option>
                        <option
                          *ngFor="let country of Cd; let i = index"
                          [value]="country.Iso2"
                        >
                          <div>+{{ country.Dial }}({{ country.Iso2 }})</div>
                        </option>
                      </select>
                      <div
                        *ngIf="
                          (f.subscriberCtc.touched || f.subscriberCtc.dirty) &&
                          f.subscriberCtc.errors
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.subscriberCtc.errors.required">
                          Counrty is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-7 pt-1">
                    <div class="form-group mb-3">
                      <input
                        type="tel"
                        class="form-control"
                        placeholder=""
                        [ngClass]="
                          f.subscriberPhone.touched || f.subscriberPhone.dirty
                            ? f.subscriberPhone.errors
                              ? 'is-invalid'
                              : 'is-valid'
                            : ''
                        "
                        formControlName="subscriberPhone"
                      />

                      <div
                        *ngIf="
                          (f.subscriberPhone.touched ||
                            f.subscriberPhone.dirty) &&
                          f.subscriberPhone.errors
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.subscriberPhone.errors.required">
                          Phone number is required
                        </div>
                        <div *ngIf="f.subscriberPhone.errors.pattern">
                          Invalid phone no
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <button
                  class="btn btn-primary btn-sm float-right"
                  type="submit"
                  [disabled]="this.registerForm.invalid"
                >
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!------------ register new member --------------->
    </div>
  </div>
</div>
<!-- loading -->
<ng-template #loading>
  <div
    class="d-flex justify-content-center text-primary align-items-center mb-2"
  >
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
</ng-template>
<!-- main container -->
<!-----------------------all member add for email--------------------->
<div
  class="modal fade"
  id="exampleModalCenterTwo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
  data-backdrop="static"
>
  <app-broadcast></app-broadcast>
</div>
<!--------------------------------------------------------->
