@import "../variables.scss";
.switch {
  position: relative;
  display: inline-block;
  width: 101px;
  height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: $color-white;
  background: $color-blue-bg;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  /* background-color: navy; */
  background: $color-blue-bg;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px navy;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(73px);
  -ms-transform: translateX(73px);
  transform: translateX(73px);
}

/*------ ADDED CSS ---------*/
.slider:after {
  content: "ANY";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
}

.switch input:checked + .slider:after {
  content: "ALL";
}

// ================ calender toggle button ===========
.calender-toggle-switch .switch {
  position: relative;
  display: inline-block;
  width: 116px;
  height: 27px;
}
.calender-toggle-switch .switch input:checked + .slider:before {
  -webkit-transform: translateX(92px);
  -ms-transform: translateX(92px);
  transform: translateX(92px);
}
.calender-toggle-switch .slider:after {
  content: "Multi Date";
}
.calender-toggle-switch .switch input:checked + .slider:after {
  content: "Single Date";
}
//================= search toggle button =============
.search-toggle-switch .switch {
  position: relative;
  display: inline-block;
  width: 216px;
  height: 27px;
}
.search-toggle-switch .switch input:checked + .slider:before {
  -webkit-transform: translateX(188px);
  -ms-transform: translateX(188px);
  transform: translateX(188px);
}
.search-toggle-switch .slider:after {
  content: "any search keywords";
}
.search-toggle-switch .switch input:checked + .slider:after {
  content: "all search keywords";
}
// ================ register toggle button ===========
.url-toggle-switch .switch {
  position: relative;
  display: inline-block;
  width: 145px;
  height: 27px;
}
.url-toggle-switch .switch input:checked + .slider:before {
  -webkit-transform: translateX(113px);
  -ms-transform: translateX(113px);
  transform: translateX(113px);
}
.url-toggle-switch .slider:after {
  content: "Org Sign-up";
}
.url-toggle-switch .switch input:checked + .slider:after {
  content: "User Sign-up";
}
.body-register .slider {
  background-image: linear-gradient(
    40deg,
    rgb(255, 110, 196),
    rgb(120, 115, 245)
  );
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}
.body-register .switch input:checked + .slider {
  /* background-color: navy; */
  background-image: linear-gradient(
    40deg,
    rgb(255, 110, 196),
    rgb(120, 115, 245)
  );
}

.body-register .switch input:focus + .slider {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}
