[_nghost-abp-c1] .title[_ngcontent-abp-c1] .back[_ngcontent-abp-c1], [_nghost-abp-c1] .title[_ngcontent-abp-c1] .forward[_ngcontent-abp-c1] {
    color: #757575;
    background: white;
    border: none !important; //1px solid #000;
}
