#select_country_box {
  .icons-design {
    // padding: 10px 0px;
    // font-size: 19px;
  }
}
.eachRegion {
  .list-group-item{
      padding: .75rem 0rem;
      padding-bottom: 0rem;
  }
}


img {
  opacity: 0.4;
}
