#select_country_box {
  .icons-design {
    // padding: 10px 0px;
    // font-size: 19px;
  }
}
.empty-region-text {
  padding: 26px;
  margin: 10px 0px;
  img {
    height: 230px;
    width: auto;
    opacity: 0.56;
  }
}
