<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/panel/dashboard"
        ><i class="fab fa-houzz mr-1"></i>Dashboard</a
      >
    </li>
    <li class="breadcrumb-item active-breadcrumb-nav" aria-current="page">
      <i class="fas fa-globe-americas mr-1"></i> Manage Regions
    </li>
  </ol>
</nav>

<!-- ================= whole tab content==================== -->
<div class="tab-content" id="pills-tabContent">
  <!-- =============== manage regions contents start=============== -->
  <div
    class="tab-pane fade show active"
    id="pills-manage-region"
    role="tabpanel"
    aria-labelledby="pills-manage-region-tab"
  >
    <!--=================== Country + region set ================= -->
    <div class="p-lg-3">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-7 order-md-1 order-2 mb-2">
          <!-- ============== globe card=============== -->
          <div class="card bg-white">
            <div class="card-header">
              <div class="row mb-1">
                <div class="col-1">
                  <i class="fas fa-globe-americas text-danger"></i>
                </div>
                <div class="col-7 col-sm-8">Country</div>
                <div class="col-3 text-right cursor_pointer">
                  <button
                    class="btn btn-sm btn-light"
                    *ngIf="this.pageObj.addCountryMode === false"
                    (click)="this.pageObj.addCountryMode = true"
                  >
                    <i class="far fa-plus-square text-secondary"></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- ============== country select card=============== -->
            <div class="p-1" *ngIf="this.pageObj.addCountryMode === true">
              <div class="col-12 bg-light" id="select_country_box">
                <form>
                  <div class="form-row">
                    <div class="col-10">
                      <select
                        class="form-control"
                        [(ngModel)]="pageObj.newCountry"
                        name="newCountry"
                        aria-placeholder="Select country"
                      >
                        <option
                          *ngFor="let country of country; let i = index"
                          [value]="i"
                        >
                          {{ country.Name }}
                        </option>
                      </select>
                    </div>
                    <div class="col-1 text-right">
                      <div
                        class="btn btn-sm btn-success"
                        (click)="saveNewCountry()"
                      >
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                    <div class="col-1 text-right">
                      <div
                        class="btn btn-sm btn-outline-danger"
                        (click)="this.pageObj.addCountryMode = false"
                      >
                        <i class="fas fa-times"></i>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- ============== country select card end=============== -->
          </div>
          <!-- ============== globe card end =============== -->
          <!-- ============== empty country  card start =============== -->
          <div *ngIf="pageObj.haveCountries.length == 0">
            <div class="card mt-2">
              <div class="card-header bg-primary text-white">
                <div class="row">
                  <div class="col-12">No countries</div>
                </div>
              </div>
              <div class="card-body">
                <div class="">
                  <div class="row">
                    <div class="col-1">
                      <i class="fas fa-crosshairs ml-1 text-primary fa-1x"></i>
                    </div>
                    <div class="col-11">
                      <p>
                        There is no country added into the system.Lets's start
                        adding a country and define it's regions by clicking the
                        add country button.
                      </p>
                    </div>
                    <div class="col-12">
                      <img
                        src="../../../../assets/image/imgs/splash_scr2.png"
                        alt="empty-region-text"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ============== empty country  card end =============== -->
          <!-- ============== added countries ================ -->
          <div *ngFor="let data of pageObj.haveCountries">
            <div class="card mt-2">
              <div class="card-header bg-primary text-white">
                <div class="row">
                  <div class="col-7 col-sm-8 col-md-8">{{ data.countryName }}</div>
                  <div
                    [class]="pageObj.newRegionData.addRegionOf == data.id ? 'col-1' : 'col-2'"
                  >
                  </div>
                  <div class="col-1"
                  *ngIf="pageObj.newRegionData.addRegionOf == data.id"
                  >
                    <button class="btn btn-primary btn-sm"
                    (click)="pageObj.newRegionData.addRegionOf = ''"
                    >
                      <i
                      class="far fa-times-circle"
                      ></i>
                    </button>
                  </div>
                  <div class="col-1"
                  *ngIf="pageObj.newRegionData.addRegionOf == data.id"
                  >
                    <button class="btn btn-primary btn-sm"
                    (click)="addnewRegionFnc()"
                    >
                      <i
                        class="fas fa-check-circle"
                      ></i>
                    </button>
                  </div>
                  <div class="col-1"
                  *ngIf="
                    pageObj.newRegionData.addRegionOf !== data.id &&
                    getUserData.role == 'ADMIN'
                  "
                  >
                    <button class="btn btn-primary btn-sm"
                    (click)="pageObj.newRegionData.addRegionOf = data.id"
                    >
                      <i
                        class="fas fa-plus"
                      ></i>
                    </button>
                  </div>
                  <div class="col-1">
                    <button class="btn btn-primary btn-sm"
                    (click)="deleteCoutryData(data.id, data.countryName)"
                    >
                      <i
                        class="fas fa-trash"
                        *ngIf="getUserData.role == 'ADMIN'"
                      ></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <!-- new region add field -->
                <div
                  class="new_country_region_add mb-2"
                  *ngIf="pageObj.newRegionData.addRegionOf == data.id"
                >
                  <form>
                    <div class="row">
                      <div class="col-5 col-md-3">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Region*"
                          [(ngModel)]="pageObj.newRegionData.region"
                          name="region"
                        />
                      </div>
                      <div class="col-7 col-md-9">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Description*"
                          [(ngModel)]="pageObj.newRegionData.description"
                          name="description"
                        />
                      </div>
                    </div>
                  </form>
                </div>
                <!-- new region add field -->
                <!-- each region data -->
                <ul class="eachRegion list-group list-group-flush">

                <li class=" list-group-item" *ngFor="let reg of data.region">
                  <div class="row">
                    <div class="col-5 col-md-3">
                      <p>{{ reg.code }}</p>
                    </div>
                    <div class="col-6 col-md-8">
                      <p class="text-muted">{{ reg.desc }}</p>
                    </div>
                    <div class="col-1">
                      <button class="btn btn-sm"
                      (click)="visitToYearCalenderSet(data.id, data.country, data.countryName, reg.code, reg.desc)"
                      >
                        <i class="fas fa-arrow-right text-primary"></i>
                      </button>
                    </div>
                  </div>
                </li>
                </ul>
                <!-- each region data -->
                <!-- empty region text -->
                <div class="country_empty_region_text" *ngIf="data.region.length == 0">
                  <div class="row">
                    <div class="col-1">
                      <i class="fas fa-crosshairs ml-1 text-primary fa-1x"></i>
                    </div>
                    <div class="col-11">
                      <p>
                        No region added for {{ data.countryName }}. Let's add one by clicking add
                        region button.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- empty region text -->
              </div>
            </div>
          </div>

          <!-- ============== added countries ================ -->
        </div>
        <!-- ================= side summery card ================= -->
        <div class="col-sm-12 col-md-4 col-lg-5 order-md-2 order-1 mb-2">
          <div class="row">
            <div
              class="col-6 col-md-12 col-lg-6 mt-xs-2 mt-sm-2 mt-md-0 mt-lg-0 p-1"
            >
              <div class="card bg-light">
                <div class="card-body">
                  <i class="fas fa-home"></i
                  ><small class="text-muted ml-1">added +</small>
                  <div class="text-right">
                    <h2>{{pageObj.haveCountries.length}}</h2>
                    <h6>Countries</h6>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-6 col-md-12 col-lg-6 mt-xs-2 mt-sm-2 mt-md-1 mt-lg-0 p-1"
            >
              <div class="card bg-primary">
                <div class="card-body text-white">
                  <i class="fas fa-flag"></i><small class="ml-1">added +</small>
                  <div class="text-right">
                    <h2>{{regionCount}}</h2>
                    <h6>Regions</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ================= side summery card ================= -->
      </div>
    </div>
    <!--=================== Country + region end ================= -->
  </div>
  <!-- =============== manage regions contents end=============== -->

  <!-- =============== Year calender contents start=============== -->
  <div
    class="tab-pane fade"
    id="pills-manage-year-calender"
    role="tabpanel"
    aria-labelledby="pills-manage-year-calender-tab"
  >
    <!--=================== Yearly calender set ================= -->
    <!-- top header -->
    <div class="card">
      <div class="card-header bg-primary text-white">
        <div class="row">
          <div class="col-1">
            <button
              class="btn btn-sm text-white"
              (click)="backToManageRegion()"
            >
              <i class="fas fa-arrow-left"></i>
            </button>
          </div>
          <div class="col-10 col-sm-11 text-truncate">Maintain Region Calendar Data</div>
        </div>
      </div>
    </div>
    <!-- manage yearly calender component start -->

    <app-manage-yearly-calender [data]='forYearlyCalender'></app-manage-yearly-calender>
    <!-- manage yearly calender component end -->


    <!--=================== Yearly calender set ================= -->
  </div>
  <!-- =============== Year calender contents start=============== -->
</div>
<!-- =============================================== -->
<ul
  class="nav nav-pills mb-3"
  id="pills-tab"
  role="tablist"
  style="visibility: hidden"
>
  <!-- =============== Manage region access Button =============== -->
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="pills-manage-region-tab"
      data-toggle="pill"
      href="#pills-manage-region"
      role="tab"
      aria-controls="pills-manage-region"
      aria-selected="true"
      #manageRegionPanel
      >Manage region</a
    >
  </li>
  <!-- =============== Year calender access Button =============== -->
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="pills-manage-year-calender-tab"
      data-toggle="pill"
      href="#pills-manage-year-calender"
      role="tab"
      aria-controls="pills-manage-year-calender"
      aria-selected="false"
      #manageYearCalenderPanel
      >Manage Year Calender</a
    >
  </li>
</ul>
<!-- =============================================== -->
