<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label for="year"><i class="far fa-calendar-alt"></i> Years</label>
      <select class="form-control form-control-sm" [(ngModel)]="pageObj.yearSelected" (ngModelChange)="getHolidayCalendar()">
        <option *ngFor="let date of years" [value]="date">{{date}}</option>
      </select>
      </div>
    <div class="single-form">
      
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6"></div>
</div>