<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/panel/dashboard"><i class="fab fa-houzz mr-1"></i>Dashboard</a>
    </li>
    <li class="breadcrumb-item active-breadcrumb-nav" aria-current="page">
      <i class="fas fa-mug-hot mr-1"></i> User Leave
    </li>
  </ol>
</nav>





<div class="p-lg-3">
<!-- main page row -->
<div class="row">
  <!--============ calender and summery section start ========== -->
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="row p-1">
      <div class="col-12 card bg-white">
        <div class="row card-header bg-primary text-white">
          <div class="col-7 align-left">{{ switchApplyform !== true ? 'Leave Calendar': 'Apply Leave' }}</div>
          <div class="col-5">
            <div class="btn btn-sm btn-light" (click)="switchApplyform = !switchApplyform">{{ switchApplyform !== true ? 'Apply Leave' : 'Cancel Leave' }} 
              <i class="fas fa-stopwatch ml-1" *ngIf="switchApplyform !== true"></i>
              <i class="fas fa-undo ml-1" *ngIf="switchApplyform === true"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
        <!--=============== readonly mood for leave calender =============-->
        <div class="row" *ngIf="switchApplyform !== true">
            <!-- <div class="col-12"> -->
            <ion-calendar
              [readonly]="true"
              [options]="calendarMeta.calendarOptions"
              (monthChange)="monthChanges($event)">
            </ion-calendar>
            <!-- </div> -->
            <!-- <div class="col-12 my-3"> -->
              <div class="col-12 card">
                <div class="card-body">
                  <h6>Leaves Status</h6>
                  <div class="row">
                     <div class="col-4">
                      <div class="row">
                        <div class="col-2">
                          <i class="fas fa-window-minimize text-success"></i>
                        </div>
                        <div class="col-10">
                          <span class="text-muted"><small>Approved</small></span>
                        </div>
                      </div>
                     </div>

                     <div class="col-4">
                      <div class="row">
                        <div class="col-2">
                          <i class="fas fa-window-minimize text-warning"></i>
                        </div>
                        <div class="col-10">
                          <span class="text-muted"><small>Pending</small></span>
                        </div>
                      </div>
                     </div>

                      <div class="col-4">
                      <div class="row">
                        <div class="col-2">
                          <i class="fas fa-window-minimize text-danger"></i>
                        </div>
                        <div class="col-10">
                          <span class="text-muted"><small>Rejected</small></span>
                        </div>
                      </div>
                      </div>

                </div>
              </div>
            </div>
          <!-- </div> -->
        </div>
        <!--=============== readonly mood for leave calender =============-->
        <!--=============== apply leave form ===========================  -->
        <div class="row" *ngIf="switchApplyform === true">
          <div class="col-12">

            <div class="row my-3">
              <div class="col-1">
                <i class="fas fa-mug-hot text-danger"></i>
              </div>
              <div class="col-11">
                Leave Types
              </div>
              <div class="col-12">
                <div class="form-group">
                <select [(ngModel)]="pageObj.apllyingLeave.type" (change)="dayCounter()" class="form-control">
                  <option *ngFor="let data of calendarMeta.allLeavesOrgHave; let i = index" [value]="i">{{data.type}}</option>
                </select>
                </div>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-1">
              <i class="far fa-calendar-alt text-danger"></i>
              </div>
              <div class="col-6">
                Select Date{{toggleMode == 'range' ? 's' : ''}}
              </div>
              <div class="col-5 align-right">
              <div class="calender-toggle-switch">
                <label class="switch">
                  <input type="checkbox" (change)="changeToggleMode()" checked />
                  <span class="slider"></span>
                </label>
              </div>
              </div>
              <div class="col-12">
                <!-- Calendar -->
                <ion-calendar
                #calendar [options]="calendarMeta.calendarOptions" 
                (onSelect)="onSelect($event)"
                (onSelectStart)="onSelectStart($event)" 
                (onSelectEnd)="onSelectEnd($event)" 
                (monthChange)="monthChanges($event)">
                </ion-calendar>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-1">
              <i class="fas fa-comment-alt text-danger"></i>
              </div>
              <div class="col-11">
                Reason
              </div>
              <div class="col-10">
                <div class="form-group">
                  <input type="text" class="form-control text-primary" placeholder="Note for leave request *"  [(ngModel)]="pageObj.apllyingLeave.reason" name="apply reason">
                </div>
              </div>
              <div class="col-2">
                <div class="btn btn-sm btn-primary">
                  <i class="fas fa-paper-plane" (click)="applyLeave()"></i>
                </div>
              </div>
              <div class="col-12">
                <p>{{pageObj.apllyingLeave.resultDescribe}}</p>
              </div>
            </div>
          </div>
        </div>
        <!--=============== apply leave form ===========================  -->
        </div>
      </div>
    </div>
  </div>
  <!--============ calender and summery section end ========== -->
  <!--============ leave summery section start ========== -->
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="row p-1">
      <div class="col-12 card bg-white">
        <div class="row card-header  bg-primary text-white">
          <div class="col-12">Leave Summary</div>
        </div>
        <!-- <div class="card"> -->
          <div class="card-body" *ngIf="!calendarMeta.userleaveTypes">
            <p class="mb-2 text-danger">No leave summary found. Please contact your leave admin to link your account to a vlaid region using Manage Region option</p>
          </div>
          <div class="card-body" *ngIf="calendarMeta.userleaveTypes">
            <h6 class="mb-2">Your Leave Summary</h6>
            <!-- =========== horizontal bar graph ==============-->
            <div class="summary-data eachRates" *ngFor="let leave of calendarMeta.userleaveTypes; let i=index;">
              <div class="row">
                <div class="col-6">
                  <h6>{{calendarMeta.userCalendarYear.leaveTypes[leave].type}}</h6>
                </div>
                <div class="col-6">
                  <h6>
                    {{calendarMeta.userCalendarYear.leaveTypes[leave].taken ? calendarMeta.userCalendarYear.leaveTypes[leave].taken : 0 }}
                    of {{calendarMeta.userCalendarYear.leaveTypes[leave].allowed}} Taken
                  </h6>
                </div>
                <div class="col-12">
                  <div class="chartrate">
                    <div
                      [ngStyle]="{'background': leaveColors[i%14],'width': calendarMeta.userCalendarYear.leaveTypes[leave].taken ?(calendarMeta.userCalendarYear.leaveTypes[leave].taken * 100 /calendarMeta.userCalendarYear.leaveTypes[leave].allowed)+'%' : '0%'}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- =========== horizontal bar graph ==============-->
          </div>
    <!-- </div> -->
      </div>
      <div class="col-12 card bg-white mt-2">
        <div class="row card-header bg-primary text-white">
          <div class="col-12">
            Adjoining Leaves
          </div>
        </div>
        <div class="card-body">
            <div class="eachDetails" *ngIf="monthsData.length==0">
              <p class="type" [ngClass]="'moderate'">No Leave Found</p>
              <div class="timings">
                <p class="applied">Yet to apply any leave for the month</p>
                <p class="leavetype">No leave record exist</p>
                <p class="rason">No leave applied for the selected month.</p>
                <div class="days">
                  <span><b>0</b>Day</span>
                  <i class="far fa-calendar-alt mr-2"></i>
                  <span>{{dateFormatting(null,'ll')}}</span>
                <i class="far fa-calendar-alt mr-2"></i>
                  <span>{{dateFormatting(null,'ll')}}</span>
                </div>
              </div>
            </div>
            <div class="eachDetails" (click)="details(data)" *ngFor="let data of monthsData">
              <p class="type" [ngClass]="data.status">{{data.status}}</p>
              <div class="timings">
                <p class="applied">Applied: {{dateFormatting(data.applied.seconds * 1000, 'lll')}}</p>
                <p class="leavetype">{{data.type}}</p>
                <p class="rason">{{data.reason}}</p>
                <div class="days">
                  <span><b>{{data.daysCount}}</b> {{(data.daysCount >  1) ? 'Days' : 'Day'}}</span>
                  <i class="far fa-calendar-alt mr-2"></i>
                  <span>{{dateFormatting(data.startDate.seconds * 1000,'ll')}}</span>
                  <i class="far fa-calendar-alt mr-2"></i>
                  <span>{{dateFormatting(data.endDate.seconds * 1000,'ll')}}</span>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--============ leave summery section end ========== -->
</div>

</div>



<!-- main page row -->
<!-- ================= whole tab content==================== -->
<div class="tab-content" id="pills-tabContent">
  <!-- =============== manage regions contents start=============== -->
  <div class="tab-pane fade show active" id="pills-manage-region" role="tabpanel"
    aria-labelledby="pills-manage-region-tab">
  </div>
  <!-- =============== manage regions contents end=============== -->

  <!-- =============== apply leave  contents start=============== -->
  <div class="tab-pane fade" id="pills-manage-year-calender" role="tabpanel"
    aria-labelledby="pills-manage-year-calender-tab">
    <!--=================== Yearly calender set ================= -->
    <!-- top header -->
    <div class="card">
      <div class="card-header bg-primary text-white">
        <div class="row">
          <div class="col-1">
            <button class="btn btn-sm text-white" (click)="backToManageRegion()">
              <i class="fas fa-arrow-left"></i>
            </button>
          </div>
          <div class="col-11">Apply Leave</div>
        </div>
      </div>
    </div>



    <!--=================== Yearly calender set ================= -->
  </div>
  <!-- =============== apply leave contents start=============== -->
</div>
<!-- =============================================== -->
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="visibility: hidden">
  <!-- =============== Manage region access Button =============== -->
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-manage-region-tab" data-toggle="pill" href="#pills-manage-region" role="tab"
      aria-controls="pills-manage-region" aria-selected="true" #manageRegionPanel>Manage region</a>
  </li>
  <!-- =============== Year calender access Button =============== -->
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-manage-year-calender-tab" data-toggle="pill" href="#pills-manage-year-calender"
      role="tab" aria-controls="pills-manage-year-calender" aria-selected="false" #manageYearCalenderPanel>Manage Year
      Calender</a>
  </li>
</ul>
<!-- =============================================== -->
