@import "../../../../assets/scss/variables.scss";
.pointer {
  cursor: pointer;
}
.innerBox {
  max-height: 455px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.pendingBox {
  background-image: $color-peach-bg !important;
  color: $color-white;
}
.recentBox {
  background-image: $color-aqua-bg !important;
  color: $color-white;
}
.eachDetails {
  margin-top: 10px;
  border-left: 5px solid $color-amber;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  overflow: hidden;
  .type {
    padding: 5px 30px 6px 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: $big_weight;
    color: $color-white;
    font-family: $font-family;
    position: relative;
    &::after {
      content: "";
      border-top: 21px solid transparent;
      border-right: 21px solid $color-white;
      border-bottom: 21px solid transparent;
      border-left: 21px solid transparent;
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
  .approved {
    background: $color-aqua-bg;
  }
  .timings {
    padding-left: 15px;
    .applied {
      color: $color-fab-btn;
      font-size: $input-font;
      margin-top: 5px;
    }
    .leavetype {
      font-weight: $big_weight;
      font-size: $title-font;
      margin-top: -3px;
    }
    .rason {
      font-size: $input_font;
      color: $color-dark-grey;
    }
    .days {
      display: flex;
      padding-bottom: 6px;
      span {
        margin-right: 10px;
        b {
          color: $color-accent;
          font-size: 15px;
          margin-right: 5px;
        }
        &:nth-child(2) {
          padding-top: 5px;
        }
      }
      img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        margin-top: 2px;
      }
    }
  }
}
.allBoxesAvail {
  display: -webkit-box;
  .eachBox {
    background: $color-white;
    padding: 10px;
    width: 90%;
    border-radius: 3px;
    margin: 10px 5px 0 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    .profile {
      display: flex;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
      .moreInfo {
        width: calc(100% - 50px);
        h4 {
          font-size: $title_font;
          color: $color-black;
          font-weight: $big_weight;
          font-family: $font-family;
          padding: 5px 0;
        }
        .dates {
          display: flex;
          padding: 5px 0;
          img {
            width: 15px;
            height: 20px;
            margin-right: 7px;
          }
          p {
            width: calc(50% - 15px);
            font-size: $floating_font;
            font-weight: $small_weight;
            color: $color-black;
          }
        }
        .days {
          display: flex;
          margin-top: -10px;
          p {
            width: 50%;
            padding: 5px;
            font-family: $font-family;
            b {
              font-size: $header_font;
              color: $color-accent;
            }
            &:nth-child(1) {
              font-size: $input_font;
              color: $color-black;
            }
            &:nth-child(2) {
              color: $color-sky;
              font-size: $details_font;
            }
          }
        }
      }
    }
    .reasons {
      padding-left: 10px;
      border-left: 5px solid $color-accent;
      h5 {
        font-size: $input_font;
        font-weight: $big_weight;
        font-family: $font-family;
        padding: 5px 0;
        color: $color-black;
      }
      p {
        color: $color-black;
        font-size: $child_font;
        font-family: $font-family;
        max-height: 35px;
        overflow: hidden;
      }
    }
  }
  .noTaskForAdmin {
    text-align: center;
    // font-size: 22px;
    // color: $color-accent;
    // margin: 5px 0;
    // font-family: $font-family;
    p {
      padding: 10px 0;
      font-size: $floating_font;
      font-weight: $small_weight;
    }
    img {
      margin-top: -15px;
      opacity: 0.5;
      width: 70%;
    }
  }
}
.recentBox {
  // padding: 10px;
  h3 {
    background: $color-secondary-bg;
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: $alert_title_font;
    // font-weight: $small_weight;
    color: $color-white;
    padding: 12px 10px;
    // border-radius: 3px;
    // box-shadow: 0 2px 3px 0 rgba(0,0,0,0.4);
  }
  .allBoxesAvail {
    padding: 10px;
    .eachBox {
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
      .profile {
        display: flex;
        position: relative;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-left: 10px;
        }
        .state {
          width: calc(100% - 50px);
          border-left-width: 5px;
          border-left-style: solid;
          .status {
            padding: 3px 10px;
            display: inline-block;
            color: $color-white;
            font-size: $floating_font;
            font-weight: $small_weight;
            letter-spacing: 0.07em;
            font-family: $font-family;
            text-transform: uppercase;
            // background: $color-peach-bg;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            text-transform: lowercase;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.7);
          }
          .reason {
            padding-left: 10px;
            p {
              &:nth-child(1) {
                font-size: 14px;
                color: $color-black;
                font-weight: 600;
                margin-top: 10px;
                font-family: $font-family;
              }
              &:nth-child(2) {
                font-size: 12px;
                color: $color-black;
                font-weight: 500;
                max-height: 35px;
                overflow: hidden;
              }
            }
          }
        }
        .positioning {
          width: 210px;
          position: absolute;
          top: 0;
          right: 50px;
          p {
            height: 18px;
            text-align: right;
            font-size: $details_font;
            &:nth-child(1) {
              font-weight: $big_weight;
            }
            &:nth-child(2) {
              color: $color-dark-grey;
            }
          }
        }
      }
      .days {
        display: flex;
        margin-top: 5px;
        img {
          width: 15px;
          height: 15px;
          margin-right: 7px;
        }
        p {
          width: calc(50% - 15px);
          color: $color-black;
          font-family: $font-family;
          font-weight: $small_weight;
          b {
            color: $color-accent;
            font-weight: $big_weight;
            margin-right: 5px;
          }
          &:nth-child(1) {
            width: 75px;
          }
        }
      }
    }
    .noTaskForAdmin {
      text-align: center;
      // font-size: 22px;
      // color: $color-accent;
      // margin: 5px 0;
      // font-family: $font-family;
      p {
        padding: 10px 0;
        font-size: $floating_font;
        font-weight: $small_weight;
      }
      img {
        margin-top: -15px;
        opacity: 0.5;
        width: 70%;
      }
    }
  }
}
