<!-- navbar -->
<div class="body-login">
  <div class="containerr px-2 px-lg-4 pt-0">
    <div class="row">
      <div class="col-12 formSection">
        <div class="d-flex justify-content-center align-items-center px-3 pt-3">
          <div>
            <a routerLink="/"
              ><img
                src="../../../assets/image/imgs/logo.png"
                alt="occurens"
                id="occurens-logo"
            /></a>
          </div>
          <!-- <div>
            <ul class="mt-3 d-md-none d-sm-none">
              <li class="mr-2">
                <a class="" routerLink="/">
                  <button type="button" class="btn btn-home btn-sm">
                    <i class="fas fa-home mr-1"></i> Go to home
                  </button>
                </a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="container px-lg-4 pt-3">
          <div class="card-box">
            <div class="card-body-box login-card-box">
              <h5 class="card-title">Login</h5>
              <div class="straight-line"></div>
              <form
                [formGroup]="loginForm"
                (ngSubmit)="onSubmit()"
                class="pt-3"
              >
                <div class="form-group mb-2">
                  <label for="subscriptionID"
                    ><img
                      src="../../../../assets/image/imgs/sub.svg"
                      alt="org icon"
                      style="transform: scale(1.2)"
                    />Subcription ID</label
                  >
                  <input
                    id="subscriptionID"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="subscriptionID"
                    style="text-transform: uppercase"
                    (keyup)="checkSID($event)"
                    [ngClass]="{
                      'is-invalid': submitted && f.subscriptionID.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.subscriptionID.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.subscriptionID.errors.required">
                      Subscription ID is required
                    </div>
                    <div *ngIf="f.subscriptionID.errors.minlength">
                      Invalid Subscription ID (atleast 3 letter)
                    </div>
                    <div *ngIf="f.subscriptionID.errors.maxlength">
                      Invalid Subscription ID (max 20 letter)
                    </div>
                    <div *ngIf="f.subscriptionID.errors.pattern">
                      Invalid Pattern
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="subscriptionEmail"
                    ><img
                      src="../../../../assets/image/imgs/msg.png"
                      alt="email icon"
                    />Email Address</label
                  >
                  <input
                    id="subscriptionEmail"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="subscriberEmail"
                    style="text-transform: lowercase"
                    [ngClass]="{
                      'is-invalid': submitted && f.subscriberEmail.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.subscriberEmail.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.subscriberEmail.errors.required">
                      Email address is required
                    </div>
                    <div *ngIf="f.subscriberEmail.errors.email">
                      Invalid Email
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group mb-3 col-12">
                    <label for="password"
                      ><img
                        src="../../../../assets/image/imgs/password.png"
                        alt="password icon"
                      />Password</label
                    >
                    <input
                      id="password"
                      [type]="passshow ? 'text' : 'password'"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      formControlName="password"
                      [ngClass]="{
                        'is-invalid': submitted && f.password.errors
                      }"
                    />

                    <div
                      *ngIf="submitted && f.password.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.password.errors.required">
                        Password is required
                      </div>
                    </div>
                  </div>
                  <div
                    class="hideAndShow"
                    style="cursor: pointer"
                    (click)="passShow()"
                  >
                    <span class="mt-4">
                      <i
                        class="fas"
                        [ngClass]="{
                          'fa-eye-slash': !passshow,
                          'fa-eye': passshow
                        }"
                      ></i>
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-sm-12 col-md-12 col-lg-8 order-sm-12 order-md-12 order-lg-1 mb-1"
                  >
                    <span class="" style="font-size: 14px"
                      >Don't have an account?<strong
                        ><a routerLink="/register" class="text-primary">
                          Register</a
                        ></strong
                      ></span
                    >
                  </div>
                  <div
                    class="col-sm-12 col-md-12 col-lg-4 order-sm-1 order-md-1 order-lg-12"
                  >
                    <button
                      class="btn btn-sm btn-primary custom_log_reg_btn"
                      type="submit"
                    >
                      LOG IN
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- navbar -->
</div>

<!------------------------   model open  ------------------------>
