.navTest {
  // display: block;
  height: 100%;
  // width: 100%;
  padding: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  position: absolute;
  // animation: slide-right 0.5s ease-in-out;
  transition: all 0.4s ease-in-out;
  .row {
    min-height: 100%;
    .menu {
      // opacity: 1;
      height: 100%;
      z-index: 99;
      background: white;
    }
  }
}
.navTestClose {
  // display: block;
  height: 100%;
  width: 0%;
  padding: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  position: absolute;
  // animation: slide-right 0.5s ease-in-out;
  transition: all 0.4s ease-in-out;
  .row {
    min-height: 100%;
    .menu {
      // opacity: 0;
      width: 0%;
      height: 100%;
      z-index: -1;
      background: white;
    }
  }
}
@media only screen and (min-width: 1300px) {
  .navTestClose,
  .navTest {
    display: none;
  }
  .nav_for_extra_large {
    width: 255px;
    background: #fff;
    color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }
}
@import "../../../assets/scss/variables.scss";
/*----------------------------Page outer layout----------------------*/
.top-bar {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
  padding: 1px 10px;
  background: $color-primary-bg;
  color: $color-white;
  font-size: 17px;
}

// .wrapper {
//   // display: flex;
//   // flex-direction: row;
//   // justify-content: space-between;
//   // align-items: stretch;
//   width: 100%;
//   height: 100vh;
//   position: relative;
// }
// .nav_for_extra_large {
//   width: 255px;
//   background: $color-white;
//   color: $color-black;
//   -webkit-transition: all 0.3s;
//   transition: all 0.3s;
//   font-size: 15px;
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100vh;
// }
.all-content {
  height: 100vh;
  width: calc(100% - 280px);
  transition: all 0.3s;
  overflow-y: scroll;
  background-color: #f0f2f6;
  position: relative;
  top: 0;
  left: 280px;
}
#openNav i,
.close_button {
  display: none;
}
@media only screen and (max-width: 1300px) {
  #openNav i,
  .close_button {
    display: block;
  }
  .all-content {
    width: 100vw;
    left: 0;
  }
  .sideNav {
    z-index: 2;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    left: 280px;
    transition: all 0.3s ease-in-out;
  }
  .nav_for_extra_large {
    display: none;
  }
}

/*----------------------------Page outer layout----------------------*/
.menu-link {
  padding: 9px;
  padding-left: 25px;
  margin-bottom: 2px;
  transition: all 0.2s;
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.menu-link img {
  height: 18px;
  margin-right: 22px;
}
.menu-link-img {
  margin-right: 14px !important;
  transform: scale(0.9);
}
.menu-link:hover {
  padding: 9px;
  padding-left: 38px;
  background-color: var(--menuLinkHover);
  border-bottom-right-radius: 23px;
  border-top-right-radius: 23px;
  margin-right: 20px;
  color: $color-black;
}
.active-url {
  padding: 9px;
  padding-left: 38px;
  background-color: var(--menuLinkHover);
  border-bottom-right-radius: 23px;
  border-top-right-radius: 23px;
  margin-right: 20px;
  color: #000;
}
.sideNav-sec-name {
  letter-spacing: 1px;
  font-size: 10px;
  margin-left: 0px;
  text-transform: uppercase;
}
.logo {
  text-align: center;
  height: auto;
  margin-top: 13px;
}
.logo img {
  height: 55px;
}
.nav-links-custom {
  padding: 0.5rem 0.4rem !important;
}
.profile {
  color: var(--white);
  margin-top: -7px;
  background: transparent;
}
.profile img {
  vertical-align: middle;
  border-style: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid var(--menuLinkHover);
  object-fit: cover;
  margin-top: 2px;
}
.profile .dropdown-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
}
#openNav {
  cursor: pointer;
}
/*----------------------------side navigation bar----------------------*/
/*---------------------------- breadcrumb design ----------------------*/
.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 0rem;
  list-style: none;
  border-radius: 0rem;
  font-size: 12px;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  background-color: transparent;
}
.active-breadcrumb-nav {
  font-size: 14px;
  color: var(--navyColorOne);
  font-weight: 700;
  display: flex !important;
  align-items: center !important;
}
.jumbotron {
  padding: 1rem 1rem;
  background-color: var(--white);
  margin-bottom: 0px;
  color: black;
}
/*---------------------------- breadcrumb design ----------------------*/
.notification-icon {
  position: relative;
}
.notification-badge {
  position: absolute;
  top: -6px;
  /* right: 93px; */
  // z-index: 2;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 13px;
  padding-top: 2px;
}
/*------------------------Ntification design-----------------------------*/
/* The side navigation menu */
.nav-links-custom {
  cursor: pointer;
}
.sidenav {
  height: 0%; /* 100% Full-height */
  width: 40%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: -105px; /* Stay at the top */
  right: 0;
  background-color: rgba(17, 17, 17, 0.77); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: all 0.4s ease-in-out; /* 0.5 second transition effect to slide in the sidenav */
}
@media only screen and (max-width: 998px) {
  .sidenav {
    width: 100%;
  }
}
.notification_container {
  max-width: 600px;
  min-width: 350px;
  background-color: transparent;
  height: auto;
  margin: 0 auto;
}
.notification_card {
  background: #fff;
  border: 1px solid var(--navyColorOne);
  border-radius: 10px;
  margin: 0 2rem;
  margin-bottom: 11px;
  position: relative;
  height: auto;
  padding: 10px;
}
.custom_btn {
  font-size: 0.55rem !important;
  padding: 0.1rem 0.6rem;
  height: 33px;
}
.custom_btn img {
  height: 22px;
}
.accept_reject_btn {
  filter: brightness(20);
}
.notification_card img,
.notification_card i {
  border: 1px solid #c0bebf;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px;
  padding: 5px;
}

.notification_card .title {
  font-size: 14px;
  font-weight: 600;
}
.notification_card .msg {
  font-size: 12px;
  font-weight: 500;
}
.notification_date {
  font-size: 11px;
  font-weight: 200;
  color: grey;
}
.notification_card .btn_section {
  width: 100%;
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  height: 25px;
}
.notification_card .accept {
  width: 100px;
  height: 25px;
  border-radius: 15px;
  background: var(--green);
  color: var(--colorWhite);
}
.notification_card .reject_dismiss {
  width: 100px;
  height: 25px;
  border-radius: 15px;
  background: var(--red);
  color: var(--colorWhite);
  position: absolute;
  right: 5px;
}

.sidenav .closebtn {
  position: fixed;
  top: -100px;
  right: 22px;
  font-size: 44px;
  margin-left: 50px;
  color: #fff;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
@media screen and (max-height: 450px) {
  // .sidenav {
  //   padding-top: 15px;
  // }
  // .sidenav a {
  //   font-size: 18px;
  // }
}
/*----------------------------------------------------------------*/
