/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"); */
/*font-family: 'Poppins', sans-serif;*/
/* * {
  margin: 0;
  padding: 0;
} */
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
/* body {
  font-family: "Poppins", sans-serif;
} */
.bkmnu ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #fff !important;
}
.bkmnu ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}
.bkmnu ul {
  text-align: right;
  margin-top: 20px;
}
.bkmnu ul li.lg {
  background-color: #10266b;
  padding: 6px 25px;
  border-radius: 6px;
}
li.bk a {
  color: #10266b;
}
.bkmnu ul li.lg a {
  color: #fff;
  text-decoration: none;
}
.bkmnu ul li.bk {
  background-color: #fafafb;
  padding: 6px 25px;
  border-radius: 6px;
  border: 1px solid #10266b;
}
.hedarea {
  text-align: center;
  background: #35c7cc;
  padding: 13px 10px;
  border-radius: 8px 8px 0 0;
  position: relative;
}
.hedarea h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}
.hedarea p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.listarea {
  padding: 20px 10px 15px 15px;
  background-color: #fff;
}
.listarea h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.listarea ul li {
  list-style: none;
  font-size: 14px;
  color: #757474;
  font-weight: 400;
  margin-bottom: 10px;
}
.listarea ul li span {
  float: right;
  cursor: default;
}
.listarea ul li span img {
  width: 65%;
}
.listarea ul {
  margin-top: 20px;
}
a.freesb {
  text-align: center;
  margin: 0 auto;
  display: table;
  background-color: #35c7cc;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.fullbox.nclr h6 {
  color: #fff;
  font-size: 23px;
  margin-bottom: 0;
  font-weight: 500;
}
.fullbox.nclr h5 {
  color: #fff;
  font-size: 45px;
  font-weight: 200;
}
.fullbox.nclr h5 span {
  display: table;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  cursor: default;
}
.fullbox.nclr h5 .fas {
  font-size: 27px;
}
.fullbox.nclr .hedarea {
  background: #1962cb;
}

.fullbox.nclr a.freesb {
  background-color: #1962cb;
  color: #fff;
}
.bkmnu ul li a .fas {
  margin-right: 13px;
  font-size: 16px;
}
.plnarea {
  background-image: url("../../../../assets/image/payment/bg1.jpg");
  background-size: cover;
  background-position: center center;
  padding: 14px 0;
}
.topbar {
  background-color: #efedee;
}

/*6/4/20*/

.playbox-head {
  background-color: #1962cb;
  padding: 8px 15px;
}
.playbox-head li {
  list-style: none;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 5px;
}
.playbox-head ul li span {
  float: right;
  font-weight: 600;
  font-size: 16px;
  cursor: default;
}
.paybox p.paybh {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
}
p.paybh span {
  font-weight: 300;
  color: #1962cb;
  margin-left: 35px;
  cursor: default;
}
.freebox {
  border: 1px solid #1962cb;
  padding: 10px 13px;
}
.freebox h3 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.freebox p {
  margin-bottom: 0;
  font-size: 14px;
  color: #868282;
  font-weight: 300;
}
.probox {
  background-color: #1962cb;
  padding: 11px 15px;
}
.probox h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.probox p {
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
}
.add ul li {
  list-style: none;
  display: inline-block;
}
.add ul {
  float: right;
}
.add ul li img {
  width: 68%;
  margin: 0 auto;
  display: table;
}
.add {
  padding: 19px 18px;
}
.btnpay a.ppl {
  width: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: table;
  background-color: #dadbdb;
  padding: 10px;
}
.btnpay a.ppl img {
  width: 25%;
}
.btnpay a.dbtcrd {
  background: #1962cb;
  color: #fff;
  width: 100%;
  display: table;
  text-align: center;
  padding: 10px;
}
.btnpay a.dbtcrd img {
  width: 8%;
  margin-right: 17px;
}
a.dbtcrd {
  margin-top: 8px;
}
.add p {
  margin-top: 11px;
}
.number span {
  cursor: pointer;
}
.minus {
  width: 50px;
  height: 50px;
  background: #fd7a70;
  border-radius: 49px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
  font-size: 32px;
  color: #fff;
}
.plus {
  width: 50px;
  height: 50px;
  background: #62b796;
  border-radius: 49px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
  font-size: 32px;
  color: #fff;
}
input {
  height: 34px;
  width: 100px;
  /* text-align: center; */
  font-size: 22px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
.number {
  float: right;
}
.paymentsec {
  background-image: url("../../../../assets/image/payment/bg2.jpg");
  background-size: cover;
  width: 100%;
  height: -webkit-calc(100% - 81px);
  height: calc(100% - 81px);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
.paybox {
  background-color: #fff;
}
/*----------------------------responsive--------------------*/

@media (max-width: 768px) {
  .logo {
    text-align: center;
  }
  .logo img {
    width: 30%;
    margin-top: 8px;
    height: auto;
  }
  .bkmnu ul {
    text-align: center;
  }
  .fullbox {
    margin: 11px 0;
  }
  /*6/4/2020*/
  .paymentsec {
    padding: 20px 0;
  }
  .paybox p.paybh {
    font-size: 16px;
  }
  .freebox {
    margin-bottom: 20px;
  }
  .number {
    float: unset;
    text-align: center;
  }
  .add p {
    text-align: center;
    font-weight: 600;
  }
  .paymentsec {
    height: auto;
  }
}
/*----------------------------payment page design---------------------*/
.complex input[type="radio"],
.complexx input[type="radio"] {
  -webkit-appearance: none;
  display: none;
}
.complex label,
.complexx label {
  height: 118px;
  border: 1px solid #1962cb;
  margin: 10px 3px;
  padding: 10px 10px;
  color: grey;
  width: 100%;
}
.complexx label {
  height: 118px;
  width: 100%;
}
.complex label .label-plan-title,
.complexx label .label-plan-title {
  font-weight: bold;
  text-transform: capitalize;
}
.complexx label .label-plan-title {
  font-size: 25px;
}
.complex input[type="radio"]:checked + label {
  background-color: #1962cb;
  color: white;
}
.complexx input[type="radio"]:checked + label {
  width: 100%;
  background-color: #1962cb;
  color: rgb(255, 255, 255);
}
.pay-card-input-box .input-group > .input-group-append > .btn,
.pay-card-input-box .input-group > .input-group-append > .input-group-text,
.pay-card-input-box
  .input-group
  > .input-group-prepend:first-child
  > .btn:not(:first-child),
.pay-card-input-box
  .input-group
  > .input-group-prepend:first-child
  > .input-group-text:not(:first-child),
.pay-card-input-box
  .input-group
  > .input-group-prepend:not(:first-child)
  > .btn,
.pay-card-input-box
  .input-group
  > .input-group-prepend:not(:first-child)
  > .input-group-text {
  border-radius: 50%;
  padding: 10px 18px;
  margin: 0px 8px;
}
/* paypal button design */
/* .paypal-button .paypal-button-color-gold {
  background: #cdccc8 !important;
} */
.planTags li {
  list-style: circle;
  font-size: 13px;
}
